* {
    /* height:1000; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.nav{
    padding:2px;
    height:96px;
    background: linear-gradient(
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.7)
        );
}

.nav_sub{
    display:inline-block;
    color: black;
    padding: 0.6% 5.4%;
    margin-top:30px;
    color: white;
}
.active{
    /* border:5px solid white; */
    background-color: white;
    color:black;
    padding: 0.6% 1.5%;
    margin-left: 99px;
}
.main-1{
    background-image: url(https://e0.pxfuel.com/wallpapers/850/763/desktop-wallpaper-construction-site-construction-work.jpg);
    /* border : 10px solid red; */
    height:500px;
    width:100%;
    background-size: cover;
}
.main-2{
    height:500px;
    width: 100%;
    margin-left: 20px;
}
.main-2 img{
    height:450px;
    width: 435px;
    margin: 24px;
}
.main-3{
    background-color: black;
    background-size: cover;
    padding: 2px;
    height:500px;
    width:100%
}
.main-3 img{
    height:432px; 
    width:45%;
    display:inline-block;
    float:right;
    /* padding:3.6% 1.5%; */
    margin-top: 3% ;
    margin-right: 109px;
}
.main-3 p{
    display:inline-block;
    height:227px;
    width: 45%;
    color:white;
    margin-top: 270px ;
    margin-left: 32px;
}